body {
  font-family: "Raleway", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  border-bottom: solid black 2px;
  display: flex;
  justify-content: space-between;
}

.leftNavBar {
  display: flex;
  justify-content: space-around;
  width: 35%;
  margin: auto;
  letter-spacing: 4px;
}

.rightNavBar {
  display: flex;
  justify-content: space-around;
  width: 35%;
  margin: auto;
  letter-spacing: 4px;
}

h1 {
  text-align: center;
}
